<div class="container">
    <h3 class="mb-3"><b>JSON Server CRUD</b></h3>

    <table class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                @for (th of tableHead; track $index) {
                    <th>{{th}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (user of users(); track $index) {
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>
                        <button class="btn btn-warning me-2" (click)="onEdit(user)">Edit</button>
                        <button class="btn btn-danger " (click)="onDelete(user.id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Alex"
            [class.is-invalid]="f.name.invalid && f.name.touched"
            [class.is-valid]="f.name.valid">

            @if (f.name.invalid && f.name.touched) {
                <div class="invalid-feedback">
                    <i>Name is required</i>
                </div>
            }
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="alex@123">
        </div>

        <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="9322208772">
        </div>

        <div class="form-group">
            <button class="btn btn-primary mt-3 me-3">{{editableId() ? 'Update' : 'Submit'}}</button>
            @if (editableId()) {
                <button class="btn btn-dark mt-3" (click)="cancelEdit()">cancelEdit</button>
            }
        </div>
    </form>
</div>